* {
  box-sizing: border-box;
}

body, p, h1 {
  margin: 0;
}

body {
  font-family: 'Exo', sans-serif;
  font-size: 20px;
  color: #757575;
  background-color: #F8F8F8;
}

.wrap {
  min-height: 100%;
  padding: 40px 50px;
}

.title {
  margin-top: 0;
  display: inline-block;
  border-bottom: 2px solid #757575;
}

.table {
  width: 100%;
  margin-top: 50px;
  padding: 20px;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

.table thead {
  vertical-align: middle;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #757575;
}

.table td, .table th {
  padding: 20px 5px;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

.table .complete{
  color: green;
}

.table .not-complete{
  color: red;
}